body {
    padding: 0;
    margin: 0;
    background-color: #456882;
    line-height: 1.5;
}


h1 {
    font-size: 42px;
}

header {
    display: grid;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #D2C1B6;
    color: #1B3C53;
    justify-content: center;
    text-align: center;
    font-family: Garamond, Georgia, sans-serif;
    font-size: 24px;
    position: fixed;
    top: 0;  
    transition: top 0.5s ease-in-out; /* Smooth transition */
}

.header-hidden {
    top: -160px; /* Moves header off-screen */
}


.nav {
    display: grid;
    grid-template-columns: repeat(6, auto); 
    gap: 20px; 
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li a {
  padding: 20px 20px;
  text-decoration: none;
  color: #456882;
}

ul li a:hover {
  color:#1B3C53;
}

a:link {
    text-decoration: none;
    color: #456882;
}

a:visited {
    color:#456882;
}

a:hover {
    color: #1B3C53;
}

.wow-panel {
    display: grid;
    background-color: #000000;
    background-image: url(images/education-open-book-blackboard-24neqyjtkzc2rc21.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 600px;
    margin: auto; 
    padding-top: 100px;
}

.main-content {
    display:grid;
    background-color: #456882;
    color: #D2C1B6;
    justify-content: left;
    align-content: center;
    font-family: Garamond, Georgia, sans-serif;
    font-size: 24px;
}

.bio {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-top: 160px;
    align-items: center;
    padding: 12px;
    gap: 20px;
}

#headshot {
    width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1B3C53;
}

footer {
    display: grid;
    padding: 4px;
    margin: 0;
    background-color: #D2C1B6;
    color: #456882;
    justify-content: left;
    text-align: left;
    font-family: Garamond, Georgia, sans-serif;
    font-size: 24px;
}

.contact-form {
    background-color: #456882;
    color: #D2C1B6;
    display: grid;
    justify-content: center;
    margin-top: 100px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #1B3C53; 
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #1B3C53;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #234C6A;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}